:root {
    font-size: calc(1vw + 0.7em);
    --border-article: 1px solid lightgray;

    /*--main-color: #657b83;*/
    --main-color: #5c6e75;
    --main-color: #3a474b;
    /*--main-background-color: #fdf6e3;
    --main-background-color: #fffbf1;*/
    --main-background-color: #fff8e7;
    --link-color: #268bd2;
    --link-visited: #6c71c4;
    --article-date-color: rgb(129, 129, 129);
    --border-style: 1px solid #839496;
}

body {
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif;
    margin: 0 1em;
    max-width: 40em;
    color: var(--main-color);
    background-color: var(--main-background-color);
}

img {
    display: none;
}

@media (min-width: 50em) {
    img {
        display: block;
        border-radius: 50%;
        float: right;
        width: 8em;
        height: 8em;
        margin-left: 1em;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }
}

.latest {
    clear: right;
}

.intro {
    margin-bottom: 3em;
}

@media (min-width: 50em) {
    :root {
        font-size: 1.125em;
    }

    body {
        margin: 0 auto;
    }
}

h1, h2, p, main, header {
    margin-bottom: 1.5rem;
}

h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
}

a {
    text-decoration: none;
    color: var(--link-color);
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: var(--link-visited);
}

.nav-menu-link {
    display: block;
    padding: 0.5em 0.75em;
}

@media (min-width: 50em) {

    .nav-menu-link:hover {
        /*
        color: white;
        text-decoration: none;
        background-color: var(--link-color);
        */
    }

    .nav-menu-link {
        padding: 0;
    }
}

.page-header {
    margin-top: 1em;
}

.page-header > h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5em;
}

@media (min-width: 50em) {
    .page-header {
        display: flex;
        align-items: center;
        margin-bottom: 4em;
    }

    .page-header > h1 {
        margin-right: auto;
        margin-bottom: 0;
    }
}

.nav-menu {
    display: flex;
}

.nav-menu > :not(:last-child) {
    margin-right: 1em;
}

@media (min-width: 50em) {

    .nav-menu > :not(:last-child) {
        margin-right: 1.5em;
    }
}

.hello {
    font-size: 2rem;
    margin-bottom: 0.5em;
}

.main > h2 {
    font-size: 1.5rem;
}

.article-list-item {
    border-top: var(--border-article);
    padding: 1.25em;
}

.article-list-item:last-child {
    border-bottom: var(--border-article);
}

.article-date {
    display: block;
    color: rgb(129, 129, 129);
    font-size: 0.75rem;
}

.article-list-link {
    font-size: 1.25rem;
}


@media (min-width: 50em) {

    .article-list-link:hover {
        text-decoration: underline;
    }
}